*{
  padding: 0;
  margin: 0;
}
a {
  color: #039;
  text-decoration: none;
}

dl,ul{
  list-style: none;
  margin: 0;
}
body{
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.container{
  width: 800px;
  padding: 40px 60px;
  height: auto;
  border: 1px solid #000;
}
.form-header{
  height: 60px;
  padding-left:150px;
  padding-right: 100px;
  
}
.form-header ul{
  width: 80%;
  height: 50px;
  background-image: url(./glb_v2.png);
  background-repeat: no-repeat;
  background-position:-360px -432px;
}
.form-header .tabs1-on{
  background-position:-360px -432px;
}
.form-header .tabs2-on{
  background-position:0 -432px;
}
.form-header .tabs1-on .a1,
.form-header .tabs1-on .a1:hover,
.form-header .tabs2-on .a2,
.form-header .tabs2-on .a2:hover
{ font-weight:bold;
  color:#FFF;
  cursor:default;
  text-decoration:none;
}
ul li{
  width: 166px;
  height: 35px;
  float: left;
}

ul li a{
  /* 块级元素才可以设置width-height */
  display: block;
  text-align: center;
  /* border: 1px solid #000; */
  width: 100%;
  height: 35px;
  line-height: 35px;  
  text-decoration:none;
  color:black
}
ul li a:hover{
  text-decoration:none;
}
/* .Email-Adress{
  position: relative;
}
.Email-Adress-tit{
  position: absolute;

} */
.Email-Adress{
  padding-left: 50px;
  position: relative;
  height: auto;
  /* padding-top: 5px; */
  /* padding-bottom: 30px; */
}
.Email{
  position: relative;
}
.Email-Adress-tit{
  height: 20px;
  line-height: 20px;
  font-weight: normal;
  padding-left: 10px;
}
.Email-Adress-tit span{
  color: red;
  padding-right: 8px;
}
.Email-Adress-ipt{
  position: relative;
  width: 335px;
  top:-23px;
  left: 100px;
}
.Email-Adress-ipt .ipt{
  /* border-radius:5%; */
  width: 200px;
  font-weight: normal;
  color: rgb(153, 153, 153);
  box-sizing: border-box;
  padding: 4px 5px;
  border: #ABABAB 1px solid;
  box-shadow: 2px 2px 3px #EDEDED inset;
  font-size: 14px;
  font-weight: bold;
  border-radius: 3px;
}
.txt-1{
  top: 0;
  display: inline-block;
}
select{
  padding: 3px 10px;
  width: 110px;
  font-size: 16px;
  font-weight: bold;
  color: #555;
}
.hint-1{
  color: gray;
  font-size: 13px;
}
.hint-1 span .ico-suc-sml {
  width: 14px;
  height: 14px;
  background-position: 0 -288px;
  background-image: url(./glb_v2.png);
  display: inline-block;
}
.hint-1 span .ico-warn-sm2 {
  width: 14px;
  height: 14px;
  background-position: -36px -288px;
  background-image: url(./glb_v2.png);
  display: inline-block;
}
.Email-Adress-tit1{
  padding-left:40px;
}
.Email-Adress-ipt .ipt1{
  width: 100%;
  font-weight: normal;
  color: rgb(153, 153, 153);
  box-sizing: border-box;
  padding: 4px 5px;
  border: #ABABAB 1px solid;
  box-shadow: 2px 2px 3px #EDEDED inset;
  font-size: 14px;
  font-weight: bold;
  border-radius: 3px;
}
.Email-Adress-ipt .warn-1{
    width: 334px;
    height:auto;

    background-color: #FFFFE1;
    border: #C6C6A8 2px solid;
    position: relative;
    margin-top: 13px;
    zoom: 1;
    overflow: visible;
}

.Email-Adress-ipt .warn-1 .arr {
  background-image: url(./glb_v2.png);
  width: 25px;
  height: 14px;
  background-position: -576px -72px;
  position: absolute;
  left: 31px;
  top: -14px;
}
.Email-Adress-ipt .warn-1 .attent{
  padding: 13px 10px 14px 53px;
  zoom: 1;
  position: relative;
}
.Email-Adress-ipt .warn-1 .attent .ico-warn-big {
  position: absolute;
  left: 10px;
  top: 10px;
}
.ico-warn-big {
  background-image: url(./glb_v2.png);
  width: 30px;
  height: 30px;
  background-position: 0 -216px;
}
.Email-Adress-ipt .warn-1 .attent .hint-1-1 span{
  font-size: 14px;
  color: red;
}

.Email-Adress-yzm{
  padding-left: 24px;
}
