<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
  <title>Document</title>
</head>
<body>
  <div id="app">
    <input type="text" v-model="test">
    <div class="msg">{{message}}</div>


    <div class="wrap">
      <!-- v-if -->
      <!-- v-click 可简写 @click -->
      <div class="wrap1" v-show="movie">中国机长</div>
      <div class="wrap2" @click="handle">少年的你</div>
    </div>

    <div class="wrap">
      <ul>
        <li v-for="list in newsList" >{{list.title}}--{{list.date}}</li>
      </ul>
    </div>

    <div class="wrap">
      <div class="content" v-text="content">{{content}}</div>
    </div>

    <div class="wrap">
      <div class="testName-1" v-bind:class="isActive ? 'active':''">v-bind</div>
      <div class="testName-2" :class="{good:className}">123</div>
      <div class="testName-3" :class="[classA,classB]">ni hao</div>
    </div>
  </div>

  <script>
    var app = new Vue({
      el: '#app',
      data() {
        return {
          message: 'hello world',
          test: '',
          movie: false,
          newsList: [
            {title: '全国各地的梯子遭到我国长城防火墙的禁用', date:'2019/5/31'},
            {title: '韩国瑜：准备承担2020年重担，让鬼混的民进党下台', date:'2019/6/1'},
            {title: '冠心病“救命药”单片涨价近11倍 药企：换了包装', date:'2019/6/2'},
            {title: '长春一天集齐雷电冰雹暴雨：有路段积水漂车，部分航班取消', date:'2019/6/3'}
          ],
          content: 'I love you three thousands',
          isActive:true,
          className: true,
          classA:'aaa',
          classB:'bbb',
        }
      },
      // 包裹方法的属性
      methods: {
        handle() {
          console.log('👍')
        }
      },


















      // 八大生命周期
      created() {
        console.log('created')
      },
      beforeCreate() {
        console.log('beforeCreate')
      },
      mounted() {
        console.log('mounted')
      },
      beforeMount() {
        console.log('beforeMount')
      },
      updated() {
        console.log('updated')
      },
      beforeUpdate() {
        console.log('beforeUpdate')
      },
      destroyed() {
        console.log('destroyed')
      },
      beforeDestroy() {
        console.log('beforeDestroy')
      }
    })
  </script>
</body>
</html>